
<nav class="navbar navbar-dark navbar-expand-md bg-primary">
  <a class="navbar-brand" href="#">Air Quality Monitor</a>
  
  <div class="collapse navbar-collapse">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">How does it work?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Configure your alerts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Station map</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
      </li>
    </ul>

  </div>
</nav>

