
<nav class="navbar navbar-dark navbar-expand-md bg-primary">
  <a class="navbar-brand" routerLink="/home">Air Quality Monitor</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app-navbar" aria-controls="app-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  <div class="collapse navbar-collapse justify-content-between" id="app-navbar">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': router.url === '/about'}">
        <a class="nav-link" routerLink="/about">How does it work?</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': router.url === '/alerts'}">
        <a class="nav-link" routerLink="/alerts">Configure your alerts</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': router.url === '/map'}">
        <a class="nav-link" routerLink="/map">Station map</a>
      </li>
    </ul>

    <div *ngIf="this.isUserLoggedIn else unregistered">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/account">See account data</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Logout</a>
          </div>
        </li>
      </ul>
    </div>

    <ng-template #unregistered>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" [ngClass]="{'active': router.url === '/signin'}">
            <a class="nav-link" routerLink="/signin">Sign in</a>
          </li>
          <li class="nav-item" [ngClass]="{'active': router.url === '/signup'}">
            <a class="nav-link" routerLink="/signup">Sign up</a>
          </li>
        </ul>
    </ng-template>

  </div>
</nav>

