/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-background {
    background: rgba(255,255,255,0.86);
    position: relative; 
    top: 80px;
    padding: 30px;
    border-radius: 10px;
}

.aqm-btn-wide {
    width: 150px;
}
