<div class="container form-background">
    <h2>Configure your alerts</h2>
    User model:
    <!-- {{ user.username }}
    {{ user.alertOn }} -->
    <br>

    <h4>Alerts on</h4>
    <mat-slide-toggle>Alerts on</mat-slide-toggle>

    <br>

    <h4>Stations</h4>
    <div class="row">
        <div class="col-7">
            <div id="map">
                <agm-map [latitude]="52" [longitude]="20" #gm>
                  <agm-marker *ngFor="let station of stations"
                            [latitude]="+station.gegrLat"
                            [longitude]="+station.gegrLon"
                            [markerClickable]="true"
                            (markerClick)="gm.lastOpen?.close(); gm.lastOpen = infoWindow; getStationDetail(station.id)"
                            >
                      <agm-info-window #infoWindow>
                        <b>{{ station.stationName}}</b>
                        <br>
                        Mierzone wartości:
                        <br>
                        <div *ngFor="let measurementPoint of stationDetail">
                          {{ measurementPoint.param.paramName }}
                        </div>
                        <br>
                        <button class="btn btn-success" (click)="addStation(station.id)">Add station</button>
                      </agm-info-window>            
                  </agm-marker>
                </agm-map>
              </div>
        </div>
        <div class="col-5">
          Station list:
          <br>
          lala
          <div *ngFor="let s of userStationList">
              {{s.id}} - id
          </div>


        </div>
        

    </div>
    
    

</div>
